body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-168px;
  width:1351px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:511px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  filter:drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u28250 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:110px;
  width:517px;
  height:511px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u28250 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u28250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u28252 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:56px;
  width:517px;
  height:54px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u28252 .text {
  position:absolute;
  align-self:center;
  padding:16px 24px 16px 24px;
  box-sizing:border-box;
  width:100%;
}
#u28252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28254 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:77px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u28254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.42745098039215684);
  text-align:left;
  line-height:22px;
}
#u28256 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:562px;
  width:517px;
  height:59px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.42745098039215684);
  text-align:left;
  line-height:22px;
}
#u28256 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u28256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28257 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:581px;
  width:60px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28257 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u28257_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:21px;
}
#u28258 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:581px;
  width:65px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:21px;
}
#u28258 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u28258_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u28265 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:328px;
  width:104px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u28265 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:17px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u28267 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:328px;
  width:60px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u28267 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u28267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u28268 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:331px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u28268 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u28268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:502px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u28270 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:150px;
  width:483px;
  height:502px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u28270 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u28270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
  line-height:22px;
}
#u28271 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:110px;
  width:88px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
  line-height:22px;
}
#u28271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28272 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:1194px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28272 .text {
  position:absolute;
  align-self:center;
  padding:6px 2px 12px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u28272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28273 {
  border-width:0px;
  position:absolute;
  left:1511px;
  top:1206px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28273 .text {
  position:absolute;
  align-self:center;
  padding:6px 2px 12px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u28273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:32px;
  background:inherit;
  background-color:rgba(246, 255, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(183, 235, 143, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u28276 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:657px;
  width:156px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u28276 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 38px;
  box-sizing:border-box;
  width:100%;
}
#u28276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28277 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:668px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u28277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28278 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:666px;
  width:14px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"anticon", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#52C41A;
}
#u28278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u28278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 242, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 163, 158, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u28281 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:657px;
  width:156px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u28281 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 38px;
  box-sizing:border-box;
  width:100%;
}
#u28281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28282 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:671px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u28282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28283 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:666px;
  width:14px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"anticon", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#F5222D;
}
#u28283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u28283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u28291 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:189px;
  width:94px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u28291 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28291_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28292_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28292_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u28292 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:192px;
  width:320px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u28292 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28292_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u28292.disabled {
}
.u28292_input_option {
}
#u28293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u28300 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:126px;
  width:94px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u28300 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28300_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28301_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28301_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u28301 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:129px;
  width:320px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u28301 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28301_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u28301.disabled {
}
.u28301_input_option {
}
#u28302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u28305 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:262px;
  width:104px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:22px;
}
#u28305 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28306_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28306_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28306_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u28306 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:257px;
  width:146px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u28306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28306_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u28306.hint {
}
#u28306_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u28306.disabled {
}
#u28306_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u28306.hint.disabled {
}
#u28307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F59A23;
  line-height:22px;
}
#u28307 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:262px;
  width:149px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F59A23;
  line-height:22px;
}
#u28307 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  color:#555555;
}
#u28309 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:384px;
  width:320px;
  height:129px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#555555;
}
#u28309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:right;
  line-height:22px;
}
#u28310 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:373px;
  width:42px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  text-align:right;
  line-height:22px;
}
#u28310 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28310_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D9001B;
  line-height:18px;
}
#u28311 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:231px;
  width:42px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D9001B;
  line-height:18px;
}
#u28311 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28311_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D9001B;
  line-height:18px;
}
#u28312 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:161px;
  width:42px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D9001B;
  line-height:18px;
}
#u28312 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28312_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D9001B;
  line-height:18px;
}
#u28313 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:294px;
  width:42px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D9001B;
  line-height:18px;
}
#u28313 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28313_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
