body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-41px;
  width:885px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4470588235294118));
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12998 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:65px;
  width:339px;
  height:154px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u12999 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:106px;
  width:84px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u12999 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12999_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13000 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:163px;
  width:60px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13000 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u13000_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:21px;
}
#u13001 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:163px;
  width:65px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:21px;
}
#u13001 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u13001_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13002 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:104px;
  width:22px;
  height:24px;
  display:flex;
  transition:none;
  font-family:"anticon", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#FAAD14;
}
#u13002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u13002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  filter:drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4470588235294118));
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13005 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:309px;
  width:339px;
  height:154px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u13006 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:351px;
  width:112px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:22px;
}
#u13006 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13006_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13007 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:407px;
  width:60px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13007 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u13007_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:21px;
}
#u13008 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:407px;
  width:65px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  line-height:21px;
}
#u13008 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u13008_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13009 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:351px;
  width:22px;
  height:24px;
  display:flex;
  transition:none;
  font-family:"anticon", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#FAAD14;
}
#u13009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u13009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF3399;
  line-height:18px;
}
#u13011 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:115px;
  width:525px;
  height:74px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF3399;
  line-height:18px;
}
#u13011 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
  line-height:22px;
}
#u13012 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:75px;
  width:88px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
  line-height:22px;
}
#u13012 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:32px;
  background:inherit;
  background-color:rgba(246, 255, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(183, 235, 143, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u13014 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:236px;
  width:156px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u13014 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 38px;
  box-sizing:border-box;
  width:100%;
}
#u13014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13015 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:247px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13016 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:245px;
  width:14px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"anticon", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#52C41A;
}
#u13016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u13016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 242, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 163, 158, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u13019 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:236px;
  width:156px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u13019 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 38px;
  box-sizing:border-box;
  width:100%;
}
#u13019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13020 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:250px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13021 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:245px;
  width:14px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"anticon", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#F5222D;
}
#u13021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u13021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF3399;
  line-height:18px;
}
#u13023 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:349px;
  width:525px;
  height:74px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF3399;
  line-height:18px;
}
#u13023 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
  line-height:22px;
}
#u13024 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:309px;
  width:88px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
  line-height:22px;
}
#u13024 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:32px;
  background:inherit;
  background-color:rgba(246, 255, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(183, 235, 143, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u13026 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:479px;
  width:156px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u13026 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 38px;
  box-sizing:border-box;
  width:100%;
}
#u13026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13027 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:490px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13028 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:488px;
  width:14px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"anticon", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#52C41A;
}
#u13028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u13028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 242, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 163, 158, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u13031 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:479px;
  width:156px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u13031 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 38px;
  box-sizing:border-box;
  width:100%;
}
#u13031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13032 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:493px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13033 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:488px;
  width:14px;
  height:15px;
  display:flex;
  transition:none;
  font-family:"anticon", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#F5222D;
}
#u13033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u13033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
