body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-53px;
  width:1888px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u31547 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:130px;
  width:1409px;
  height:90px;
}
#u31548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u31548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u31548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31549 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u31549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u31549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31550 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u31550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31551 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u31551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u31551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31552 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u31552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u31552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31553 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u31553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u31553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31554 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:103px;
  height:34px;
  display:flex;
  transition:none;
}
#u31554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
}
#u31554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31555 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:0px;
  width:97px;
  height:34px;
  display:flex;
  transition:none;
}
#u31555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:34px;
}
#u31555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31556 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u31556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u31556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31557 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:0px;
  width:98px;
  height:34px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u31557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31558 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:0px;
  width:102px;
  height:34px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u31558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31559 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:0px;
  width:108px;
  height:34px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u31559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31560 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:0px;
  width:101px;
  height:34px;
  display:flex;
  transition:none;
}
#u31560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u31560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31561 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:0px;
  width:101px;
  height:34px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u31561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:100px;
  height:56px;
  display:flex;
  transition:none;
}
#u31562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u31562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31563 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:34px;
  width:100px;
  height:56px;
  display:flex;
  transition:none;
}
#u31563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u31563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31564 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:34px;
  width:100px;
  height:56px;
  display:flex;
  transition:none;
}
#u31564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u31564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31565 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:34px;
  width:100px;
  height:56px;
  display:flex;
  transition:none;
}
#u31565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u31565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31566 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:34px;
  width:100px;
  height:56px;
  display:flex;
  transition:none;
}
#u31566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u31566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31567 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:34px;
  width:100px;
  height:56px;
  display:flex;
  transition:none;
}
#u31567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u31567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31568 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:34px;
  width:103px;
  height:56px;
  display:flex;
  transition:none;
}
#u31568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:56px;
}
#u31568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31569 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:34px;
  width:97px;
  height:56px;
  display:flex;
  transition:none;
}
#u31569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:56px;
}
#u31569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31570 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:34px;
  width:100px;
  height:56px;
  display:flex;
  transition:none;
}
#u31570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u31570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31571 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:34px;
  width:98px;
  height:56px;
  display:flex;
  transition:none;
}
#u31571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:56px;
}
#u31571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31572 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:34px;
  width:102px;
  height:56px;
  display:flex;
  transition:none;
}
#u31572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:56px;
}
#u31572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31573 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:34px;
  width:108px;
  height:56px;
  display:flex;
  transition:none;
}
#u31573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:56px;
}
#u31573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31574 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:34px;
  width:101px;
  height:56px;
  display:flex;
  transition:none;
}
#u31574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:56px;
}
#u31574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31575 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:34px;
  width:101px;
  height:56px;
  display:flex;
  transition:none;
}
#u31575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:56px;
}
#u31575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31576 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:370px;
  width:209px;
  height:69px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31577 {
  border-width:0px;
  position:absolute;
  left:1598px;
  top:71px;
  width:138px;
  height:69px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31578 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:224px;
  width:0px;
  height:0px;
  transition:none;
}
#u31578_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-5px;
  width:7px;
  height:10px;
}
#u31578_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-5px;
  width:10px;
  height:81px;
}
#u31578_seg2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:66px;
  width:470px;
  height:10px;
}
#u31578_seg3 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:66px;
  width:10px;
  height:80px;
}
#u31578_text {
  border-width:0px;
  position:absolute;
  left:179px;
  top:63px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31579 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:220px;
  width:0px;
  height:0px;
  transition:none;
}
#u31579_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:81px;
}
#u31579_seg1 {
  border-width:0px;
  position:absolute;
  left:-449px;
  top:71px;
  width:454px;
  height:10px;
}
#u31579_seg2 {
  border-width:0px;
  position:absolute;
  left:-449px;
  top:71px;
  width:10px;
  height:79px;
}
#u31579_text {
  border-width:0px;
  position:absolute;
  left:-271px;
  top:68px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31580 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:48px;
  width:308px;
  height:34px;
}
#u31581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u31581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31582 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u31582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31583 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:0px;
  width:110px;
  height:34px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u31583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31584 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:88px;
  width:5px;
  height:36px;
  display:flex;
  transition:none;
}
#u31584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31584_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:31px;
  height:62px;
}
#u31584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31585 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:88px;
  width:5px;
  height:36px;
  display:flex;
  transition:none;
}
#u31585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31585_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:31px;
  height:62px;
}
#u31585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31586 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:88px;
  width:5px;
  height:36px;
  display:flex;
  transition:none;
}
#u31586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31586_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:31px;
  height:62px;
}
#u31586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31587 {
  border-width:0px;
  position:absolute;
  left:1499px;
  top:56px;
  width:0px;
  height:0px;
  transition:none;
}
#u31587_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-10px;
  width:10px;
  height:10px;
}
#u31587_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-10px;
  width:44px;
  height:10px;
}
#u31587_seg2 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-10px;
  width:10px;
  height:65px;
}
#u31587_seg3 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:45px;
  width:70px;
  height:10px;
}
#u31587_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31588 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:166px;
  width:0px;
  height:0px;
  transition:none;
}
#u31588_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:11px;
}
#u31588_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:1px;
  width:51px;
  height:10px;
}
#u31588_seg2 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-65px;
  width:10px;
  height:76px;
}
#u31588_seg3 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-65px;
  width:69px;
  height:10px;
}
#u31588_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-44px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31589 {
  border-width:0px;
  position:absolute;
  left:1782px;
  top:71px;
  width:159px;
  height:69px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31590 {
  border-width:0px;
  position:absolute;
  left:1736px;
  top:106px;
  width:0px;
  height:0px;
  transition:none;
}
#u31590_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:51px;
  height:10px;
}
#u31590_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
